<?xml version="1.0"?>
<launch>
  <arg name="execute" default="false" />
  <arg name="planner" default="PRMstar" />
  <arg name="planning_time" default="10.0" />
  <arg name="attempts" default="10" />
  <arg name="ee_link" default="gripper_tip_link" />
  <arg name="publish_target_tf" default="true" />
  <arg name="target_tf_frame" default="prm_target_pose" />
  <arg name="clear_octomap_before_plan" default="true" />
  <arg name="clear_octomap_on_failure" default="true" />
  <arg name="save_plot" default="false" />

  <node name="prm_planner_node" pkg="path_planning" type="PRM_Planner.py" output="screen">
    <param name="execute" value="$(arg execute)" />
    <param name="planner" value="$(arg planner)" />
    <param name="planning_time" value="$(arg planning_time)" />
    <param name="attempts" value="$(arg attempts)" />
    <param name="ee_link" value="$(arg ee_link)" />
    <param name="publish_target_tf" value="$(arg publish_target_tf)" />
    <param name="target_tf_frame" value="$(arg target_tf_frame)" />
    <param name="clear_octomap_before_plan" value="$(arg clear_octomap_before_plan)" />
    <param name="clear_octomap_on_failure" value="$(arg clear_octomap_on_failure)" />
    <param name="save_plan_plot" value="$(arg save_plot)" />
  </node>
</launch>
